/* Container styling for centering the form */
.auth-container {
    background: linear-gradient(135deg, #141b44, #5b5c5e);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Box styling for the form */
.auth-box {
    background-color: #f0f0f0e0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.3);
    max-width: 400px;
    width: 100%;
}

/* Title styling */
.auth-title {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

/* Input field styling */
.auth-input {
    background-color: #e6e6e6;
    color: #000000;
    border: 1px solid #595959;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s ease;
}

/* Adjust input field's text and placeholder for readability */
.auth-input::placeholder {
    color: #ffffff;
}

/* Input icon styling */
.auth-icon {
    color: #444444;
}

/* Button styling */
.auth-button {
    width: 100%;
    background-color:  #1f1f1f;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
.auth-button:hover {
    background-color: #333333;
}

/* Form input hover and focus effects */
.auth-input:hover, .auth-input:focus {
    background-color: #4a4a4a;
    border: 1px solid #595959;
}

.toggle-auth-button {
    margin-top: 10px;
    width: 100%;
    background-color:  #404c92;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
