.cart-layout {
  min-height: 100vh;
}

.cart-content {
  padding: 0 50px;
  margin-top: 64px;
}

.cart-site-content {
  background: #fff;
  padding: 24px;
  min-height: 380px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.cart-header-item {
  width: 25%;
}

.cart-center {
  text-align: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.cart-item-name {
  width: 25%;
}

.cart-item-price,
.cart-item-quantity,
.cart-item-total,
.cart-item-action {
  width: 15%;
  text-align: center;
}

.quantity-input {
  width: 60px;
}

.cart-total-card {
  margin-top: 16px;
}

.checkout-button{
  width: 100%;
  margin-top: 16px;
}

.cart-detail img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cart-detail h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cart-detail p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.cart-detail button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-detail button:hover {
  background-color: #23b035;
}

.delete-selected-button {
  margin-right: 8px;
  }


