.product-carousel {
    position: relative;
   
    padding: 40px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .carousel-title {
    color: Black;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product-slider .slick-slide {
    padding: 0 10px;
  }
  
  .product-card-container {
    display: flex;
    justify-content: center;
  }
  
  .product-card {

    border-radius: 10px;
    overflow: hidden;
    width: 90%;
  }
  
  .product-image {
    height: 200px;
  
    object-fit: cover;
  }
  
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
  }
  
  .left-arrow {
    left: -20px;
  }
  
  .right-arrow {
    right: -20px;
  }
  .view-more-button {
    justify-content: center;
    margin-top: 20px; /* Khoảng cách từ carousel đến nút */
    background-color: white; /* Màu nền nút */
    color: black; /* Màu chữ */
    border: 1px solid rgb(8, 162, 228); /* Đường viền màu đen */
    transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi màu sắc */
    padding: 15px 30px; /* Tăng khoảng đệm cho nút */
    font-size: 18px; /* Kích thước chữ lớn hơn */
    cursor: pointer; /* Đổi con trỏ khi hover */
  }
  
  .view-more-button:hover {
    background-color: rgb(138, 148, 153); /* Đổi màu nền khi hover */
    color: white; /* Đổi màu chữ khi hover */
  }
  .hot-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    z-index: 1;
  }
  