.rating-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .star {
    font-size: 1.4rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-bottom: 10px;
    margin-top: -5px;
  }
  
  .star.filled {
    color: #f39c12; /* Gold color for filled stars */
  }
  
  .star:hover {
    color: #f39c12;
  }
  